exempt: [
    "class{^codes\\/som\\/oof4j\\/fizzbuzz\\/enterprise}"
]

libs: []

interprocedural: {
  enabled: true
  exempt: []
}

stringEncryption {
  type: STANDARD
  enabled: true
  exempt: []
}

numberEncryption {
  enabled: true
  exempt: []
}

flowCondition {
  enabled: true
  exempt: []
}

flowException {
  enabled: true
  strength: AGGRESSIVE
  exempt: []
}

flowRange {
  enabled: true
  exempt: []
}

flowSwitch {
  enabled: true
  exempt: []
}

ahegao {
  enabled: true
  exempt: []
}

driver: {
  enabled: false
}