# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'adopt'
        #cache: maven
    - name: Build with Maven
      run: |
        mvn -B package --file pom.xml
        mkdir staging/ && cp dev.skidfuscator.obfuscator/client/target/client-1.0.0-SNAPSHOT.jar staging
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: Skidfuscator.jar
        path: staging/client-1.0.0-SNAPSHOT.jar
